<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>NGMadLib | Diana Duong</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
    <script data-require="angular.js@1.3.10" data-semver="1.3.10" src="https://code.angularjs.org/1.3.10/angular.js"></script>
    <script src="js/script.js"></script>
</head>
<body ng-app="myApp">
    <div ng-controller="myCtrl as vm" class="wrapper">
    	<header>
    		<img id="smiley" src="images/smiley-face.png" alt="smiley face" width="150">
    		<img id="logo" src="images/logo.png" alt="logo">
    	</header>
		<section class="input-section">
			<h1>Provide the following words:</h1>
			<input type="text" ng-model="name" ng-init="name='name'"/>
			<input type="text" ng-model="jobTitle" ng-init="jobTitle='job title'"/>
			<input type="text" ng-model="tediousTask" ng-init="tediousTask='tedious task'"/>
			<br>
			<input type="text" ng-model="dirtyTask" ng-init="dirtyTask='dirty task'"/>
			<input type="text" ng-model="celebrity" ng-init="celebrity='celebrity'"/>
			<input type="text" ng-model="uselessSkill" ng-init="uselessSkill='useless skill'"/>
			<br>
			<input type="text" ng-model="obnoxiousCelebrity" ng-init="obnoxiousCelebrity='obnoxious celebrity'"/>
			<input type="text" ng-model="hugeNumber" ng-init="hugeNumber='huge number'"/>
			<input type="text" ng-model="adjective" ng-init="adjective='adjective'"/><br>

			<div class="gender-section">
				<p class="gender-text">Please pick the gender of the name you have provided:</p>
				<input class="radio-btns" type="radio" ng-model="vm.gender" ng-value="'female'"/>Female
				<input class="radio-btns" type="radio" ng-model="vm.gender" ng-value="'male'"/>Male<br>
			</div>
		</section>
		<hr>
	    <section class="results-section"> 
	    	<p><span class="replaced-words">{{ name }}</span> was a <span class="replaced-words">{{ jobTitle }}</span> who loved technology. Although {{ vm.firstPersonSubjective[vm.gender] }} loved parts of {{ vm.firstPersonObjective[vm.gender] }} job, {{ vm.firstPersonSubjective[vm.gender] }} absolutely hated <span class="replaced-words">{{ tediousTask }}</span> and <span class="replaced-words">{{ dirtyTask }}</span>. So, <span class="replaced-words">{{ name }}</span> met with {{ vm.firstPersonObjective[vm.gender] }} life mentor <span class="replaced-words" >{{ celebrity }}</span> who told {{ vm.firstPersonObjective[vm.gender] }} to learn how to <span class="replaced-words">{{ uselessSkill }}</span> with Thinkful. Thinkful didn't offer a course on <span class="replaced-words">{{ uselessSkill }}</span> so {{ vm.firstPersonSubjective[vm.gender] }} studied programming instead.</p><br>

	    	<p>What a great decision! With {{ vm.firstPersonObjective[vm.gender] }} new skills, <span class="replaced-words">{{ name }}</span> built a(n) <span  class="replaced-words">{{ adjective }}</span> robot named <span class="replaced-words">{{ obnoxiousCelebrity }}</span> that not only loved <span class="replaced-words">{{ dirtyTask }}</span> but did it <span class="replaced-words">{{ hugeNumber }}</span> faster.</p>
	    </section>
    </div>
</body>
</html>

 
