<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>NGMadLib | Diana Duong</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
    <script data-require="angular.js@1.3.10" data-semver="1.3.10" src="https://code.angularjs.org/1.3.10/angular.js"></script>
    <script src="js/script.js"></script>
</head>
<body ng-app="myApp">
    <div class="wrapper">
    	<header>
    		<img id="smiley" src="images/smiley-face.png" alt="smiley face" width="150">
    		<img id="logo" src="images/logo.png" alt="logo">
    	</header>
		<section class="input-section">
			<h1>Provide the following words:</h1>
			<input type="text" ng-model="maleName" ng-init="maleName='male name'"/>
			<input type="text" ng-model="jobTitle" ng-init="jobTitle='job title'"/>
			<input type="text" ng-model="tediousTask" ng-init="tediousTask='tedious task'"/>
			<br>
			<input type="text" ng-model="dirtyTask" ng-init="dirtyTask='dirty task'"/>
			<input type="text" ng-model="celebrity" ng-init="celebrity='celebrity'"/>
			<input type="text" ng-model="uselessSkill" ng-init="uselessSkill='useless skill'"/>
			<br>
			<input type="text" ng-model="obnoxiousCelebrity" ng-init="obnoxiousCelebrity='obnoxious celebrity'"/>
			<input type="text" ng-model="hugeNumber" ng-init="hugeNumber='huge number'"/>
			<input type="text" ng-model="adjective" ng-init="adjective='adjective'"/>	
		</section>
		<hr>
	    <section class="results-section">
	    	<p><span class="replaced-words">{{ maleName }}</span> was a <span class="replaced-words">{{ jobTitle }}</span> who loved technology. Although he loved parts of his job, he absolutely hated <span class="replaced-words">{{ tediousTask }}</span> and <span class="replaced-words">{{ dirtyTask }}</span>. So, <span class="replaced-words">{{ maleName }}</span> met with his life mentor <span class="replaced-words" >{{ celebrity }}</span> who told him to learn how to <span class="replaced-words">{{ uselessSkill }}</span> with Thinkful. Thinkful didn't offer a course on <span class="replaced-words">{{ uselessSkill }}</span> so he studied programming instead.</p><br>

	    	<p>What a great decision! With his new skills, <span class="replaced-words">{{ maleName }}</span> built a(n) <span  class="replaced-words">{{ adjective }}</span> robot named <span class="replaced-words">{{ obnoxiousCelebrity }}</span> that not only loved <span class="replaced-words">{{ dirtyTask }}</span> but did it <span class="replaced-words">{{ hugeNumber }}</span> faster.</p>
	    </section>
    </div>
</body>
</html>

 
